

body {
  margin: auto;
  padding: 0;
}

.navbar {
  padding: 20px;
}

.recipe-list {
  background-image: url('https://images.unsplash.com/photo-1545810300-732e4b9e06b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  object-fit: cover;
  border-radius: 10px;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.bg-home {
  height: 100vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1506395308321-904a71783d60?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
}

 .bg-rdetails {
  background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80');
  background-attachment: fixed;
  background-size: cover;
  border-radius: 10px;
  padding: 20px;
} 

.substitute, .conversion {
  background-color: rgb(170, 162, 162);
  width: 80%;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.table {
  width: 80%;
}

.main {
  min-height: calc(100vh - 55px);
}

.login-wrapper {
  background-image: url('https://images.unsplash.com/photo-1532768778661-1b347c5f02ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  border-radius: 10px;
}

.signup-wrapper {
  background-image: url('https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  border-radius: 10px;
}

.footer {
  text-align: center;
  padding: 1.5rem;
  background: #333;
  color: white;
  height: 65px;
}

/*  media queries */
@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}
