

body {
  margin: auto;
  padding: 0;
  background: black;
}

.main {
  padding: 8px;
}

/* ===============================
   Recipes
=============================== */

.recipe-list {
  background-image: url('https://images.unsplash.com/photo-1545810300-732e4b9e06b3?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=900&q=60');
  height: 100%;
  background-position: center;
  background-repeat: repeat;
  object-fit: cover;
  padding: 10px;
}

.grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.card-img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}


/* ===============================
     setting backgrounds 
=============================== */
/* .bg-home {
  height: 100vh;
  width: 100%;
  background-image: url('https://images.unsplash.com/photo-1494390248081-4e521a5940db?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2195&q=80');
  background-repeat: no-repeat;
  object-fit: cover;
  background-position: center;
  border-radius: 10px;
} */

.home > div {
  margin: 3px;
}

.home-1{
  height: 60vh;
  background-image: url('https://images.unsplash.com/photo-1518843875459-f738682238a6?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
}

.home-2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  /* justify-content: space-around; */
  height: 30vh;
  background-color: rgb(14, 13, 13);
  color: white;
  opacity: 0.9;
  /* flex-direction: row; */
}

.home-2 > div {
  font-size: 3em;
  padding: 10px;
  margin: 20px 0;
}

/* .home-2 > div:nth-of-type(1) {
  align-self: flex-start;
}

.home-2 > div:nth-of-type(3) {
  align-self: flex-end
} */

.home-3 {
  margin-top: 2px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 5px;
}

.home-3 > div {
  padding: 10px;
  height: 200px;
  background-size: cover;
  opacity: 0.7;
  
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.bg-1 {
  background: url('https://images.unsplash.com/photo-1508061253366-f7da158b6d46?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60');
}

.bg-2 {
  background: url('https://images.unsplash.com/photo-1586810512929-6b8659fde098?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60')
}

.bg-3 {
  background: url('https://images.unsplash.com/photo-1582362731063-debbd3406f1d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60')
}

.bg-4 {
  background: url('https://images.unsplash.com/photo-1546548970-71785318a17b?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=700&q=60')
}

.home-4 {
  height: 30vh;
 background-color: rgb(14, 13, 13);
 opacity: 0.9;
 color: white;
}

.bg-rdetails {
  background-image: url('https://images.unsplash.com/photo-1495195129352-aeb325a55b65?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=2110&q=80');
  background-attachment: fixed;
  background-size: cover;
  /* border-radius: 10px;git */
  padding: 20px;
} 

.bg-vbook {
  margin-top: 150px;
  width: 100%;
  height: 50vh;
  background-image: url('https://images.unsplash.com/photo-1541472952075-0ae0017d86de?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  opacity: 0.8;
}

.vbook-title {
  text-align: center;
  padding-top: 25px;
  margin: 0;
  background-color: black;
  color: white;
  height: 100px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.back-arrow {
  display: flex;
  justify-content: flex-end;
}

.substitute, .conversion {
  background-color: rgb(219, 218, 215);
  width: 95%;
  margin-right: 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.calories-table {
  width: 100%;
}

.table {
  width: 50%;
}

.login-wrapper {
  background-image: url('https://images.unsplash.com/photo-1532768778661-1b347c5f02ce?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.login-form-wrapper {
  margin-bottom: 3px;
}
.signup-wrapper {
  background-image: url('https://images.unsplash.com/photo-1484980972926-edee96e0960d?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=800&q=60');
  background-attachment: fixed;
  background-size: cover;
  height: 100vh;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

/* ===============================
carousel in VBook / Saved Recipes
=============================== */

.card-slider-wrapper {
  display: flex;
  position: absolute;
  transition: transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-slider-wrapper .card {
  flex: 1;
  min-width: 220px;
  border-radius: 8px;
  opacity: 0.5;
  transform: scale(0.7);
  transition: opacity 300ms linear, transform 300ms cubic-bezier(0.455, 0.03, 0.515, 0.955);
}

.card-slider {
  flex: 1;
  position: relative;
  max-width: 226px;
  margin: 0 auto;
}

.card-slider.active-slide-0 #card-0{
  opacity: 1;
  transform: scale(1);
}

.card-slider.active-slide-1 #card-1{
  opacity: 1;
  transform: scale(1);
}

.card-slider.active-slide-2 #card-2{
  opacity: 1;
  transform: scale(1);
}

.card-slider.active-slide-3 #card-3{
  opacity: 1;
  transform: scale(1);
}

.card-slider.active-slide-4 #card-4{
  opacity: 1;
  transform: scale(1);
}


.card {
  border: 8px #e6e3e3 solid;
  box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.4);
  transition: all 0.3s linear;
  cursor: pointer;
  background-color: #e6e3e3;
  padding: 10px;
  max-width: 220px;
  text-align: left;
  margin: 0 auto; 
  border-radius: 5px;
}

.card-slider::after {
  content: '';
  display: block;
  width: 100%;
  height:278px;
  border-radius: 8px;
  /* border: 5px solid rgb(173, 173, 173); */
  position: absolute;
  top: 0;
  left: 0;
}

.col {
  height: 280px;
  position: relative; 
}

.col::before {
  content: '';
  display: block;
  width: 40%;
  height: 110%;
  background: linear-gradient(to right, rgb(247, 245, 245) 10%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
}

.col::after {
  content: '';
  display: block;
  width: 40%;
  height: 110%;
  background: linear-gradient(to left, rgb(247, 245, 245) 10%, rgba(255, 255, 255, 0) 100%);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2; 
  left: auto;
  right: 0;
}

.my-recipe-card-text {
  font-size: 18px;
}


.arrows {
  margin-bottom: 15px;
  text-align: center;
}

.fas {
  margin: 10px;
}

.notepad {
  /* display: flex;
  flex-wrap: wrap; */
  overflow-y: scroll;
  margin-bottom: 10px;
  word-wrap: break-word;
  width: 50%;
  height: 40vh;
  padding: 20px;
  border-radius: 10px;
  background-color:  rgb(219, 218, 215);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* ===============================
           footer
=============================== */
.footer {
  text-align: center;
  padding: 1.5rem;
  background: black;
  color: white;
  margin-top: 3px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

/* ===============================
          media queries
=============================== */
@media screen and (max-width: 600px) {
  ul.topnav li {float: none;}
}
